language : node_js
node_js :
 - stable

branches:
  only:
    - master
    - /^greenkeeper/.*$/

before_script:
  - npm install -g --silent firebase-tools
  - npm install -g --silent @angular/cli

script:
  - ng build --prod

after_success:
  - firebase use angular-material-demo-app
  - test $TRAVIS_BRANCH = "master" && test $TRAVIS_PULL_REQUEST = "false" && firebase deploy --token $FIREBASE_TOKEN --non-interactive

notifications:
  email:
    recipients:
      - souravbpd@gmail.com
    on_success: always # default: change
    on_failure: always # default: always