<section id="t-cards">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading">
            <img src="../../../../assets/images/barley.jpg" />
            <button class="btn btn-primary btn-sm" role="button">Follow</button>
          </div>
          <div class="panel-figure">
            <img class="img-responsive img-circle" src="../../../../assets/images/Sourav-Dutta.jpg" />
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">
              <a href="https://twitter.com/souravbpd">@souravbpd</a>
            </h4>
            <small>I'm a Full-stack Developer.</small>
          </div>
          <div class="panel-thumbnails">
            <div class="row">
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading">
            <img src="../../../../assets/images/balloon.jpg"
            />
            <button class="btn btn-primary btn-sm" role="button">Follow</button>
          </div>
          <div class="panel-figure">
            <img class="img-responsive img-circle" src="../../../../assets/images/Sourav-Dutta.jpg" />
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">
              <a href="https://twitter.com/souravbpd">@souravbpd</a>
            </h4>
            <small>I'm a Full-stack Developer.</small>
          </div>
          <div class="panel-thumbnails">
            <div class="row">
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading">
            <img src="../../../../assets/images/waves.jpg" />
            <button class="btn btn-primary btn-sm" role="button">Follow</button>
          </div>
          <div class="panel-figure">
            <img class="img-responsive img-circle" src="../../../../assets/images/Sourav-Dutta.jpg" />
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">
              <a href="https://twitter.com/souravbpd">@souravbpd</a>
            </h4>
            <small>I'm a Full-stack Developer.</small>
          </div>
          <div class="panel-thumbnails">
            <div class="row">
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-default panel-card">
          <div class="panel-heading">
            <img src="../../../../assets/images/camera-keys.jpg" />
            <button class="btn btn-primary btn-sm" role="button">Follow</button>
          </div>
          <div class="panel-figure">
            <img class="img-responsive img-circle" src="../../../../assets/images/Sourav-Dutta.jpg" />
          </div>
          <div class="panel-body text-center">
            <h4 class="panel-header">
              <a href="https://twitter.com/souravbpd">@souravbpd</a>
            </h4>
            <small>I'm a Full-stack Developer.</small>
          </div>
          <div class="panel-thumbnails">
            <div class="row">
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
              <div class="col-xs-4">
                <div class="thumbnail">
                  <img src="../../../../assets/images/barley.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
